body{background:#444;margin:1px;padding:0px;}
#outer_container  {background:#00f;width:100%;height:100%;position:fixed;}
#game_canvas {
    background:#444;
    width:100%;
    height:70%;
    display:block;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#console_container{background:#888;width:100%;height: 30%;display :block;}
#controls_top     {background:#444;width:100%;height: 15%;display :block;}
#controls_bottom  {background:#444;width:100%;height: 15%;display :block;}
